* {margin: 0; padding: 0; box-sizing: border-box;}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    perspective: 100px;
    perspective-origin: 50% -50%;
}

.cube {
    perspective: 900px;
    transform-style: preserve-3d;
    
}

.cube__side{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
}

.cube__side--1 {
    position: relative;
    transform: translate(0%, 52%) rotate(5deg) skewX(5deg) skewY(20deg);
}

.cube__side--2 {
    position: relative;
    left: 100%;
    transform: translate(0%, -47%)  rotateX(360deg) rotateY(3deg) rotateZ(90deg);
}

.cube__side--3 {
    position: relative;
    left: 39%;
    transform: translate(0, 80%) rotateX(347deg) rotateY(0deg) rotateZ(127deg) skewX(8deg) skewY(20deg);
}

.red__square {
    height: 50px;
    width: 50px;
    background-color: rgb(255, 0, 0);
    margin: 1px;
    border: 5px solid black;
    border-radius: 3px;
   
   
}

.blue__square {
    height: 50px;
    width: 50px;
    background-color: rgb(25, 0, 255);
    margin: 1px;
    border: 5px solid black;
    border-radius: 3px;
  
}

.green_square {  
    height: 50px;
    width: 50px;
    background-color: rgb(4, 255, 0);
    margin: 1px;
    border: 5px solid black;
    border-radius: 3px;
  
}