* {margin: 0; padding: 0; box-sizing: border-box;}


.matrix__box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.matrix__boxin {  
    background-color: black;
    border: 5px solid yellow;
    font-family: "Anta", sans-serif;
    text-align: center;
    padding: 50px;
}

.matrix__names {
    color: yellow; 
    font-size: 50px;
}

.matrix__text {
    color: white;
    font-size: 30px;
    padding-top: 20px;

}